<h1>{{title}}</h1>

<div class="container">
  <form>
    Numero1: <input type="number" [(ngModel)]="num1" name="num1"/><br/><br/>
    Numero2: <input type="number" [(ngModel)]="num2" name="num2"/><br/><br/>
    <input type="submit" value="SUMAR" (click)="sumar()" class="btn btn-primary"/>
    <input type="submit" value="RESTAR" (click)="restar()" class="btn btn-primary"/>
    <input type="submit" value="MULTIPLICAR" (click)="multiplicar()" class="btn btn-primary"/>
    <br/><br/>
    RESULT: <input type="text" disabled="disabled" [(ngModel)]="result" name="result"/><br/><br/>
  </form>
</div>